@import '../../vars.css';

.hero{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 90px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
    
}

.details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

.header{
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 33px;
    font-family: var(--font-roboto);
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 70%,
        rgba(255, 255, 255, 0) 120%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.subheader{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;

    color: #FFFFFF;
    margin-bottom: 52px;
    text-align: justify;    

}

.contactBtn{
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 100px;
    font-size: 30px;
    font-weight: 600;
    padding: 17px 26px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    text-align: center;
}

.image{
    display: block;
    width: 50%;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 830px) {
    .hero {
      flex-direction: column-reverse;
    }
  
    .details {
      align-items: center;
    }
  }